@import "./global.css";

body {
    background-color: #000000;
}

/* body 내부 컨텐츠 영역 */
body > #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 차트 페이지 main 컨텐츠 영역 */
#wrap > .main-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6.25rem;
}

/* 차트 페이지 dashboard 영역 */
.main-container > .album-Banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    height: 25rem;
    margin: 2rem auto;
}

.album-Banner > .album-cover {
    position: relative;
    width: 25rem;
    height: 25rem;
}

.album-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-Banner > .album-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 100%;
}

.album-info > .album-title {
    width: 100%;
    height: 10rem;
}

.album-title > .album-name {
    position: relative;
    width: 100%;
    height: 6rem;
}

.album-name > h1 {
    font-size: 1.3rem;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
    text-transform: uppercase;
}

.album-title > .release-date {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.release-date > p {
    font-size: 1rem;
    color: var(--white-color);
    font-family: 'SEBANG_Regular';
    line-height: 3rem;
}

.album-info > .total-track {
    position: relative;
    width: 100%;
    height: 3rem;
}

.total-track > span {
    font-size: 1rem;
    line-height: 3rem;
    color: var(--white-color);
    font-family: 'SEBANG_Regular';
}

.main-container > .album-Track {
    position: relative;
    max-width: 1250px;
    height: 100%;
    margin: 6.25rem auto 0 auto;
}

.album-Track > .title-wrap {
    width : 100%;
    height: 5rem;
    margin-bottom: 2rem;
}

.title-wrap > h1 {
    font-size: 1.3rem;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
    text-transform: uppercase;
}

.album-Track > .track-list {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.track-list > .track-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}

.track-item > .track-img {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 10px;
}

.track-img > img {
    width: 100%;
    height: 100%;
}

.track-item > .title-wrap {
    width: 40rem;
    height: 100%;
}

.title-wrap > h2 {
    line-height: 2rem;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
}

.title-wrap > p {
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: 'SEBANG_Regular';
}

.track-item > .track-artist {
    width: 20rem;
    line-height: 4rem;
    color: var(--white-color);
    font-family: 'SEBANG_Regular';
    font-size: 14px;
}

.track-item > .option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.option-button > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white-color);
}

.track-item > .option-menu {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 15rem;
    height: 10rem;
    background-color: var(--skeleton-color);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    padding: 1rem 0;
    z-index: 10;
}

.option-menu > ul {
    width: 100%;
    height: 8rem;
}

.option-menu > ul > li {
    padding: 1rem;
    width: 100%;
    height: 4rem;
    cursor: pointer;
}

.option-menu > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.option-menu > ul > li > .menu-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.option-menu > ul > li > .menu-icon > svg {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.option-menu > ul > li > .menu-title {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    font-family: 'SEBANG_Bold';
    font-size: 12px;
    color: #fff;
    line-height: 2rem;
    margin-left: 2rem;
}

.option-menu.active {
    display: block;
}

.album-Track > .trackList-loading {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 22rem;
}

.trackList-loading > .skeleton-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}

.skeleton-item > .img-area {
    width: 4rem;
    height: 4rem;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

.skeleton-item > .title-area {
    width: 40rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

.skeleton-item > .artist-area {
    width: 20rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

.skeleton-item > .play-area {
    width: 4rem;
    height: 100%;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}
