@import "./global.css";

body {
    background-color: #000000;
}

/* body 내부 컨텐츠 영역 */
body > #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 차트 페이지 main 컨텐츠 영역 */
#wrap > .main-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6.25rem;
}

/* 차트 페이지 dashboard 영역 */
.main-container > .dashboard-container {
    max-width: 1250px;
    height: 100%;
    margin: 2rem auto 0 auto;
}

/* 주간 차트 dashboard  */
.dashboard-container > .weeklyChart-artist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25rem;
    margin-bottom: 6.25rem;
}

.weeklyChart-artist > .weeklyArtist-imgBox {
    position: relative;
    width: 25rem;
    height: 100%;
}

.weeklyArtist-imgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 주간 아티스트 1위 데이터 영역 */
.weeklyChart-artist > .weeklyArtist-data {
    width: 35rem;
    height: 100%;
}

/* 1위 아티스트 이름 데이터 영역 */
.weeklyArtist-data > .weekly-artist {
    position: relative;
    width: 100%;
    height: calc(25rem / 2 - 2rem);
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.weekly-artist > .artist-wrap {
    width: 100%;
    height: 100%;
}

/* 아티스트 이름 */
.artist-wrap > .artist-name {
    width: 100%;
    height: 6.5rem;
    overflow: hidden;
}

.artist-name > span {
    position: relative;
    top: 6.5rem;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
    font-size: 1.8rem;
    transition: all 0.5s ease-in-out;
}

/* 아티스트, 카운트 데이터 제목 */
.artist-wrap > .chart-title,
.count-wrap > .chart-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.chart-title > h2 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    font-family: 'SEBANG_Bold';
    text-transform: uppercase;
}

.weekly-artist > .trophy-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

/* 주간 1위 아티스트 곡 카운트 영역 */
.weeklyArtist-data > .count-track {
    position: relative;
    width: 100%;
    height: calc(25rem / 2 - 2rem);
    padding: 0 2rem;
}

.count-track > .count-wrap {
    width: 100%;
    height: 100%;
}

/* 곡 카운트 데이터 영역 */
.count-wrap > .count {
    width: 100%;
    height: 6.5rem;
    overflow: hidden;
}

.count > span {
    position: relative;
    top: 6.5rem;
    font-family: 'SEBANG_Bold';
    color: var(--white-color);
    font-size: 1.8rem;
    transition: all 0.5s ease-in-out;
}

.count-track > .track-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

/* 주간 차트 아티스트 순위 그래프 */
.dashboard-container > .weeklyChart-graph {
    position: relative;
    width: 100%;
    height: 25rem;
}

/* 차트 그래프(canvas) 부모 영역 */
.weeklyChart-graph > .chart-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 주간 아티스트 앨범 영역 */
.main-container > .weeklyArtist-album {
    margin: 0 auto;
    max-width: 1250px;
    height: 100%;
    margin-top: 6.25rem;
}

.weeklyArtist-album > .weeklyArtist-title {
    width: 100%;
    height: 6.25rem;
    margin-bottom: 2rem;
}

.weeklyArtist-title > h1 {
    line-height: 6.25rem;
    font-size: 1.3rem;
    font-family: 'SEBANG_Bold';
    color: var(--white-color);
    font-weight: 300;
}

/* 주간 아티스트 앨범 목록 로딩 중 스켈레톤 UI */
.weeklyArtist-album > .albums-loading {
    margin: 0 20px;
    width: 100%;
    height: 100%;
}

.albums-loading > .skeleton-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: calc(1250px / 4 - 40px);
    height: 30rem;
    margin-bottom: 2rem;
}

.skeleton-item > .img-area {
    width: 100%;
    height: 18rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

.skeleton-item > .info-area {
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to right, rgba(164, 164, 164, 0.1) 0%, rgba(119, 119, 119, 0.25) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load 1s infinite;
}

/* 주간 아티스트 앨범 목록 영역 */
.weeklyArtist-album > .album-list {
    margin: 0 20px;
    width: 100%;
    height: 100%;
}

.album-list > .album-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: calc(1250px / 4 - 40px);
    height: 30rem;
    margin-bottom: 2rem;
}

.album-item > .album-image {
    position: relative;
    width: 100%;
    height: 18rem;
    margin-bottom: 2rem;
}

.album-image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.album-item:hover .album-image::before{
    background-color: rgba(0,0,0,0.4);
}

.album-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-item > .album-info {
    width: 100%;
    height: 10rem;
    color: var(--white-color);
}

.album-info > .album-title {
    width: 100%;
    height: 6rem;
    font-size: 1rem;
    font-family: 'SEBANG_Bold';
}

.album-info > .release-date {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    font-size: 13px;
    font-family: 'SEBANG_Regular';
}

/* 주간 차트 1위 아티스트 소개 영역 */
.main-container > .chart1st-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    height: 38rem;
    margin: 6.25rem auto 0 auto;
}

.chart1st-container > .chart1st-artist{
    width: 24rem;
    height: 100%;
}

.chart1st-artist > .pick-title {
    width : 100%;
    height: 6rem;
}

.pick-title > h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
}

.chart1st-artist > .artist-name {
    position: relative;
    width: 100%;
    height: 6rem;
    margin-bottom: 2rem;
}

.artist-name > h2 {
    line-height: 6rem;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'SEBANG_Bold';
    color: var(--white-color);
}

.chart1st-artist > .artist-imgBox{
    position: relative;
    width: 24rem;
    height: 24rem;
}

.artist-imgBox > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chart1st-container > .chart1st-track {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40rem;
    height: 100%;
}

.chart1st-track > .topTrack-video {
    position: relative;
    width: 100%;
    height: 24rem;
    padding: 3px;
    background-color: rgba(119, 119, 119, 0.2);
}

.topTrack-video > iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chart1st-track > .track-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.track-info > .track-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.track-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-info > .track-title {
    width: 60%;
    height: 100%;
}

.track-title > h4 {
    font-size: 14px;
    color: var(--white-color);
    font-family: 'SEBANG_Bold';
    line-height: 3rem;
}

.track-info > .track-artist {
    text-align: end;
    width: 20%;
    height: 100%;
}

.track-artist > span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 3rem;
    font-family: 'SEBANG_Regular';
}

.main-container > .weeklyChart-tracks {
    max-width: 1250px;
    height: 100%;
    margin: 6.25rem auto 0 auto;
}

.weeklyChart-tracks > .track-list {
    display: table;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.track-list > thead {
    width: 100%;
    height: 5rem;
}

thead > tr > th {
    font-size: 15px;
    font-family: 'SEBANG_Bold';
    color: #fff;
    text-align: center;
}

thead > tr > th:nth-child(1) {
    width: 10rem;
}

thead > tr > th:nth-child(2) {
    text-align: start;
}

.track-list > tbody {
    width: 100%;
    height: 100%;
}

tbody > .chart-track {
    width: 100%;
    height: 7rem;
    padding: 1rem 0;
}

.chart-track > td {
    width: 10rem;
    height: 5rem;
    text-align: center;
}

.chart-track > td:nth-child(1) > span {
    font-size: 1rem;
    color: #fff;
    font-family: 'SEBANG_Bold';
}

.chart-track > td:nth-child(2) {
    width: calc(60% - 10rem);
    height: 5rem;
    overflow: hidden;
    text-align: start;
}

.chart-track > td:nth-child(2) > .track-imgBox {
    display: inline-block;
    vertical-align: top;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

.track-imgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chart-track > td:nth-child(2) > .track-info {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: 5rem;
}

.track-info > h2 {
    height: 3rem;
    font-size: 14px;
    color: #fff;
    font-family: 'SEBANG_Bold';
}

.track-info > p {
    display: flex;
    align-items: flex-end;
    height: 2rem;
    font-size: 12px;
    color: #777;
    font-family: 'SEBANG_Regular';
}

.chart-track > td:nth-child(3) {
    text-align: center;
}

.chart-track > td:nth-child(3) > .track-artist {
    font-size: 14px;
    color: #fff;
    font-family: 'SEBANG_Bold';
}

.chart-track > td:nth-child(4) > .option-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-button > svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.weeklyChart-tracks > .view-more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    font-family: 'SEBANG_Bold';
    font-size: 1rem;
    color: #fff;
}

.view-more:hover {
    text-decoration: underline;
    cursor: pointer;
}