@import "./global.css";

body {
    font-family: var(--font-Noto);
    background-color: #000000;
}

/* body 내부 컨텐츠 영역 */
body > #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 차트 페이지 main 컨텐츠 영역 */
#wrap > .main-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6.25rem;
}

/* 차트 페이지 dashboard 영역 */
.main-container > .dashboard-container {
    width: 100%;
    height: 100%;
}

/* dashboard 제목 */
.dashboard-container > .dashboard-title {
    width: 100%;
    height: 6.25rem;
    margin-bottom: 2rem;
}

.dashboard-title > h1 {
    line-height: 6.25rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* 주간 차트 dashboard  */
.dashboard-container > .weeklyChart-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 28rem;
}

.weeklyChart-dashboard > .weeklyArtist-imgBox {
    width: 28rem;
    height: 100%;
    background-color: rgba(119,119,119,0.2);
}

.weeklyArtist-imgBox > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weeklyChart-dashboard > .data-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

/* 주간 아티스트 1위 데이터 영역 */
.data-wrap > .weeklyChart-data {
    width: 35%;
    height: 100%;
}

/* 1위 아티스트 이름 데이터 영역 */
.weeklyChart-data > .weekly-artist {
    position: relative;
    width: 100%;
    height: calc(28rem / 2 - 1rem);
    padding: 2rem;
    background-color: rgba(119,119,119,0.2);
}

.weekly-artist > .artist-wrap {
    width: 70%;
    height: 100%;
}

/* 아티스트 이름 */
.artist-wrap > .artist-name {
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.artist-name > span {
    position: relative;
    top: 5rem;
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
    line-height: 5rem;
    transition: all 0.5s ease-in-out;
}

/* 아티스트 데이터 제목 */
.artist-wrap > .chart-title {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
}

.chart-title > h2 {
    color: #fff;
    font-weight: 300;
    line-height: 2rem;
    font-size: 14px;
}

.weekly-artist > .trophy-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

/* 주간 1위 아티스트 곡 카운트 영역 */
.weeklyChart-data > .count-track {
    position: relative;
    width: 100%;
    height: calc(28rem / 2 - 1rem);
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(119,119,119,0.2);
}

.count-track > .count-wrap {
    width: 70%;
    height: 100%;
}

/* 곡 카운트 데이터 영역 */
.count-wrap > .count {
    width: 100%;
    height: 4rem;
    overflow: hidden;
}

.count > span {
    position: relative;
    top: 5rem;
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
    line-height: 5rem;
    transition: all 0.5s ease-in-out;
}

/* 곡 카운트 데이터 제목 */
.count-wrap > .chart-title {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
}

.chart-title > h2 {
    color: #fff;
    font-weight: 300;
    line-height: 2rem;
    font-size: 14px;
    text-transform: uppercase;
}

.count-track > .track-icon {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

/* 주간 차트 아티스트 순위 그래프 */
.data-wrap > .weeklyChart-graph {
    width: 60%;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(119,119,119,0.2);
}

/* 차트 그래프(canvas) 부모 영역 */
.weeklyChart-graph > .chart-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-container > .weeklyArtist-album {
    margin: 0 auto;
    max-width: 1250px;
    height: 100%;
    margin-top: 6.25rem;
}

.weeklyArtist-album > .weeklyArtist-title {
    width: 100%;
    height: 6.25rem;
    margin-bottom: 2rem;
}

.weeklyArtist-title > h1 {
    line-height: 6.25rem;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
}

.weeklyArtist-album > .skeleton-loading {
    margin: 0 20px;
    width: 100%;
    height: 64rem;
}

.skeleton-loading > .skeleton-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: calc(1250px / 4 - 40px);
    height: 30rem;
    margin-bottom: 2rem;
}

.skeleton-item > .img-area {
    width: 100%;
    height: 18rem;
    margin-bottom: 2rem;
    background-color: rgba(119,119,119,0.2);
}

.skeleton-item > .info-area {
    width: 100%;
    height: 10rem;
}

.info-area > .title-area {
    width: 100%;
    height: 6rem;
    background-color: rgba(119,119,119,0.2);
}

.info-area > .date-area {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    background-color: rgba(119,119,119,0.2);
}

.weeklyArtist-album > .album-list {
    margin: 0 20px;
    width: 100%;
    height: 100%;
}

.album-list > .album-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: calc(1250px / 4 - 40px);
    height: 30rem;
    margin-bottom: 2rem;
}

.album-item > .album-image {
    position: relative;
    width: 100%;
    height: 18rem;
    margin-bottom: 2rem;
}

.album-image::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.album-item:hover .album-image::before{
    background-color: rgba(0,0,0,0.4);
}

.album-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-item > .album-info {
    width: 100%;
    height: 10rem;
}

.album-info > .album-title {
    width: 100%;
    height: 6rem;
    font-size: 1rem;
    color: #fff;
}

.album-info > .release-date {
    width: 100%;
    height: 2rem;
    margin-top: 2rem;
    font-size: 13px;
    color: #fff;
}

/* 주간 차트 1위 아티스트 소개 영역 */
.main-container > .chart1st-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    height: 38rem;
    margin: 6.25rem auto 0 auto;
}

.chart1st-container > .chart1st-artist{
    width: 24rem;
    height: 100%;
}

.chart1st-artist > .pick-title {
    width : 100%;
    height: 6rem;
}

.pick-title > h1 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.chart1st-artist > .artist-name {
    width: 100%;
    height: 6rem;
    margin-bottom: 2rem;
}

.artist-name > h2 {
    line-height: 6rem;
    font-family: var(--font-Noto);
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white-color);
}

.chart1st-artist > .artist-imgBox{
    position: relative;
    width: 24rem;
    height: 24rem;
}

.artist-imgBox > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chart1st-container > .chart1st-track {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40rem;
    height: 100%;
}

.chart1st-track > .topTrack-video {
    position: relative;
    width: 100%;
    height: 30rem;
}

.topTrack-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chart1st-track > .track-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.track-info > .track-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 10px;
    border : 2px solid rgba(255, 255, 255, 0.3);
}

.track-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-info > .track-title {
    width: 60%;
    height: 100%;
}

.track-title > h4 {
    font-size: 14px;
    color: var(--white-color);
    line-height: 3rem;
    font-family: var(--font-Noto);
}

.track-info > .track-artist {
    text-align: end;
    width: 20%;
    height: 100%;
}

.track-artist > span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 3rem;
    font-family: var(--font-Noto);
}