@import "./global.css";

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-Unbounded);
    background-color: #000000;
    overflow: hidden;
}

body > .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 1000;
}

.loading > svg {
    width: 80px;
    height: 80px;
    animation: rotateSpinner 1s infinite ease-in-out;
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* body 내부 컨텐츠 영역 */
body > #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*header 영역*/
#wrap > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    padding: 0 6.25rem;
    z-index: 100;
}

/* banner logo title wrap 영역 */
header > .logo{
    width: 200px;
    height: 100%;
}

.logo > h1{
    width: 100%;
    line-height: 6.25rem;
    overflow: hidden;
    font-family: var(--font-Unbounded);
    font-weight: 900;
    font-size: 1.5rem;
    color: #fff;
}

/* 메인 페이지 main 컨텐츠 영역 */
#wrap > .main-container {
    display: block;
    width: 100%;
    height: 100%;
}

/* main 컨텐츠 banner 영역 */
.main-container > .screen-container{
    position: relative;
    width: 100%;
    height: 100%;
}

/*screen container의 scrollEvent가 실행 된 후 sticky로 
screen container의 상단에 고정되는 비디오 wrap 영역 */
.screen-container > .Banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    font-family: var(--font-Unbounded);
}

.Banner > .video-screen {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/*video screen 영역이 상단에 고정될 시 full screen으로 채우는 비디오 영역 */
.video-screen > .banner_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/*banner video 영역이 full screen으로 채워지는 동시에 나타나는 opacity background 영역 */
.video-screen > .screen-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.video-screen > .dynamic-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.dynamic-container > .dynamic-logo {
    position: absolute;
    width: 40rem;
    height: 8rem;
    text-align: center;
}

.dynamic-logo > h1 {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 10px;
    line-height: 8rem;
    text-transform: uppercase;
}

.dynamic-container > .dynamic-txt {
    position: absolute;
    width: 100%;
    height: 8rem;
    overflow: hidden;
}

.dynamic-txt > .content {
    width: 100%;
    text-align: center;
}

.content > h2 {
    display: inline-block;
    width: 100%;
    line-height: 8rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white-color);
    text-transform: uppercase;
}

/*
@keyframes txtDynamic {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top : -16rem;
    }
}
*/

.video-screen > .scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 2rem;
    z-index: 20;
}

.scroll-down > span {
    font-weight: 400;
    font-size: 14px;
    line-height: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.screen-container > .Weekly-chart{
    width: 100%;
    height: 200vh;
    padding: 0 6.25rem;
    font-family: var(--font-Unbounded);
}

.Weekly-chart > .chart-titleWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 30rem;
}

.chart-titleWrap  > .title {
    width: 100%;
    height: 8rem;
}

.chart-titleWrap  > .title > h1 {
    width: 100%;
    line-height: 8rem;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.chart-titleWrap > .content {
    width: 100%;
    height: 8rem;
}

.chart-titleWrap > .content > p {
    width: 30%;
    font-size: 1rem;
    font-family: var(--font-Noto);
    color: #fff;
    word-break: keep-all;
}

.Weekly-chart > .pick-methods {
    display: block;
    width: 100%;
    height: 40rem;
}

.pick-methods > .method-item {
    display: inline-block;
    width: calc(100% / 3 - 20px);
    height: 100%;
    vertical-align: top;
    margin-left: 20px;
}

.method-item:first-child {
    margin-left: 0;
}

.method-item > .method-imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

.method-imgBox > svg {
    width: 6.25rem;
}

.method-item > .method-infoBox {
    width: 100%;
    height: 20rem;
}

.method-infoBox > h2 {
    line-height: 10rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.method-infoBox > .info-txt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-txt > p {
    width: 60%;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-family: var(--font-Noto);
    text-align: center;
}

/*ksv 아티스트 페이지로 이동하는 영역 */
.screen-container > .ksv-Artist{
    position: relative;
    top: 0;
    width: 100%;
    height: 300vh;
    padding: 3rem 6.25rem;
}

.ksv-Artist > .title-wrap{
    width: 100%;
    height: 20rem;
}

.title-wrap > .ksvArtist-title {
    margin: 0 auto;
    width: 30rem;
    height: 8rem;
}

.ksvArtist-title > h2 {
    line-height: 8rem;
    text-align: center;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 200;
}

.title-wrap > .ksvArtist-info {
    margin: 2rem auto 0 auto;
    width: 30rem;
    height: 3.125rem;
}

.ksvArtist-info > p {
    line-height: 3.125rem;
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-family: var(--font-Noto);
    font-weight: bold;
}

.title-wrap > .view-ksvArtist {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3.125rem;
}

.view-ksvArtist > span {
    width: 10rem;
    line-height: 3.125rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    font-weight: 500;
    font-size: 15px;
}

.view-ksvArtist > svg {
    display: block;
    width: 2rem;
    height: 2rem;
}

.view-ksvArtist > svg > circle {
    fill : rgba(255, 255, 255, 0.4);
}

.view-ksvArtist > svg > path {
    fill : rgb(230, 230, 230);
}

.view-ksvArtist:hover > span {
    color: #fff;
}

.view-ksvArtist:hover > svg > circle {
    fill : #fff;
}

.view-ksvArtist:hover > svg > path {
    fill: #000;
}

/*아티스트 사진들을 활용한 css 3D 회전 이벤트 부모 영역 */
.ksv-Artist > .carousel-Artist {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
    overflow: hidden;
}

/*transform 속성으로 preserve-3d style 부여 및 회전 animation 부여 */
.carousel-Artist > .carousel-animateBox {
    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(700px) translateY(-50%);
}

/*perspective 속성을 활용하여 사용자에게 보여지는 뷰포트와
요소간의 거리를 조절하여 원근감 부여 및 360도 회전 */
@keyframes carousel {
    0% {
        transform: perspective(800px);
    }

    100% {
        transform: perspective(800px);
    }
}

/*각 아티스트 이미지의 노드를 생성할 때, style로 지정한 변수 i의 값을 통해
각 이미지의 rotateY축 설정 및 이미지가 요소 크기안에 다 보이도록
translateZ 속성으로 부모 요소와의 거리 조절 */
.carousel-animateBox > .artist {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(calc(var(--i) * 1deg)) translateZ(350px);
    overflow: hidden;
    border-radius: 1.5rem;
}

.artist::before{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}

.artist > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 가로로 무한대로 흐르는 텍스트 애니메이션 부모 영역 (screen container의 하단에 고정) */
.screen-container > .marquee-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    border-top: 2px solid #fff;
    z-index: 10;
}

/* 줄바꿈 방지 white-space 지정 및 애니메이션 실행 영역 */
.marquee-container > .marquee-wrap {
    position: absolute;
    white-space: nowrap;
    animation: marquee 60s linear infinite;
}

.marquee-wrap > .content {
    position: relative;
    width: 100%;
    height: 100%;
}

.content > span {
    display: inline-block;
    width: 40rem;
    line-height: 5rem;
    font-size: 1rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/* 감싸고 있는 content영역 text 크기 합만큼 x축으로 이동 */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-120rem);
    }
}

.main-container > .main-contents {
    position: relative;
    width: 100%;
    height: 77.5rem;
    padding: 0 6.25rem;
    margin : 6.25rem 0;
}

/* 주간 ksv 아티스트 추천 영역 */
.main-container > .week-recommend {
    position: relative;
    width: 100%;
    height: 100%;
}

.week-recommend > .week-artist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38.25rem;
}

.week-artist > .artist-info{
    position: relative;
    width: 100%;
    height: 100%;
}

.artist-info > .pick-title {
    width : 100%;
    height: 3rem;
    margin-bottom: 1rem;
}

.pick-title > p {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white-color);
}

.artist-info > .artist-name {
    width: 100%;
    height: 6.25rem;
    margin-bottom: 3rem;
}

.artist-name > h2 {
    line-height: 6.25rem;
    font-family: var(--font-Noto);
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--white-color);
}

.artist-info > .artist-imgBox{
    position: relative;
    width: 25rem;
    height: 25rem;
}

.artist-imgBox > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.week-artist > .artist-topTrack {
    position: relative;
    width: 80%;
    height: 100%;
}

.artist-topTrack > .title-wrap {
    width: 100%;
    height: 3.125rem;
}

.title-wrap > h2 {
    font-size: 1.2rem;
    font-family: var(--font-Unbounded);
    color: #fff;
    text-transform: uppercase;
}

.artist-topTrack > .topTrack-video {
    position: relative;
    width: 100%;
    height: 28rem;
}

.topTrack-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-topTrack > .track-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    margin: 2rem 0;
}

.track-info > .track-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 10px;
    border : 2px solid rgba(255, 255, 255, 0.3);
}

.track-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-info > .track-title {
    width: 60%;
    height: 100%;
}

.track-title > h2 {
    font-size: 14px;
    color: var(--white-color);
    line-height: 3.125rem;
    font-family: var(--font-Noto);
}

.track-info > .track-artist {
    text-align: end;
    width: 20%;
    height: 100%;
}

.track-artist > span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 3.125rem;
    font-family: var(--font-Noto);
}

.week-recommend > .artist-trackList {
    position: relative;
    width: 100%;
    margin-top: 3.125rem;
    height: 100%;
}

.artist-trackList > .title-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6.25rem;
    margin-bottom: 2rem;
}

.title-wrap > .trackList-title {
    width: 100%;
    height: 6.25rem;
}

.trackList-title > h2 {
    line-height: 6.25rem;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
}

.title-wrap > .slide-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    height: 100%;
}

.slide-prev > svg:hover,
.slide-next > svg:hover {
    cursor: pointer;
}

.slide-prev > svg:hover > circle,
.slide-next > svg:hover > circle {
    opacity: 0.8;
}

.slide-prev > svg > circle,
.slide-next > svg > circle {
    fill: #fff;
    opacity: 0.1;
}

.slide-prev > svg > path,
.slide-next > svg > path {
    fill: #fff;
    opacity: 0.4;
}

.slide-prev > svg:hover > path,
.slide-next > svg:hover > path {
    fill : #000;
    opacity: 0.8;
}

.artist-trackList > .track-List {
    position: relative;
    width: 100%;
    height: 100%;
    margin : 0 auto;
}

.track-List > .slide-wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.slide-wrap > .track-item {
    position: absolute;
    top: 0;
    transition: all ease-in-out 800ms;
    transform: scale(0.8);
    padding: 0 2rem;
}

.track-item.active {
    transform: scale(1.0);
}

.track-item:first-child{
    margin-left: 0;
}

.track-item > .track-img {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 0 auto;
    border-radius: 2rem;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.track-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.track-item > h2 {
    margin-top: 1rem;
    line-height: 3.125rem;
    color: var(--white-color);
    font-family: var(--font-Noto);
    font-weight: 800;
    font-size: 15px;
}

.track-item > p {
    line-height: 3.125rem;
    color: var(--white-color);
    font-family: var(--font-Noto);
    font-weight: 300;
    font-size: 12px;
}

#wrap > footer {
    width: 100%;
    height: 25rem;
}

footer > .footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6.25rem;
}

.footer-inner > .footer-logo {
    width: 25rem;
    height: 100%;
}

.footer-logo > .logo {
    width: 100%;
    height: 5rem;
    margin-bottom: 3.125rem;
}

.logo > h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #fff;
}

.footer-logo > .copy-right {
    width: 100%;
    height: 3.125rem;
}

.copy-right > span {
    font-size: 12px;
    color: var(--white-color);
}

.footer-inner > .footer-menu {
    position: relative;
    display: flex;
    width: 60%;
    height: 100%;
}

.footer-menu > .main-menu {
    flex: 6;
    height: 100%;
}

.main-menu > .menu-title,
.family-menu > .menu-title {
    width: 100%;
    height: 3.125rem;
}

.menu-title > h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.main-menu > ul,
.family-menu > ul{
    display: block;
    width: 100%;
    height: 3.125rem;
    margin-top: 2rem;
}

.main-menu > ul > li,
.family-menu > ul > li {
    display: inline-block;
    width: max-content;
    height: 3.125rem;
    margin-left: 5rem;
}

.main-menu > ul > li:first-child,
.family-menu > ul > li:first-child{
    margin-left: 0;
}

.main-menu > ul > li > a,
.family-menu > ul > li > a {
    width: 100%;
    line-height: 3.125rem;
    font-size: 12px;
    font-weight: 100;
    color: #000;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-menu > .family-menu {
    flex: 4;
}

.footer-menu > .developer-menu {
    position: absolute;
    width: 100%;
    height: 3.125rem;
    top: 15rem;
    right: 0;
    display: flex;
    align-items: center;
}

.developer-menu > .menu-title {
    width: 30%;
    height: 3.125rem;
}

.developer-menu > .menu-title > h2 {
    font-size: 1rem;
    line-height: 3.125rem;
}

.developer-menu > ul {
    width: 60%;
    height: 100%;
}

.developer-menu > ul > li {
    display: inline-block;
    width: max-content;
    margin-right: 3rem;
}